/* ==========================================================================
   Base styles
   ========================================================================== */
   * {
    border:1px solid rgb(232,323,123);
    margin: 0;
    padding: 0;
    color:#123212;
    outline: 0;
} 
.imagem-pagina{
    max-width: 100%;
    box-shadow: 0 0 2px #ccc;
}

#produto-relacionado .thumbnails li{
    margin: 13px;
}

.clear {
    clear:both; 
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul {
    list-style-type: none;
    list-style: none;
    margin:0;
    padding:0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea { resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*
==========================================================================
   Geral
========================================================================== 
*/

body {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;    color: #444;
    background-color: #948870;
}

h1 {
    color: #393939;
    font-size: 26px;
    line-height: 26px;
    text-decoration: none;
    margin: 10px 0;
    font-family: 'Lato', sans-serif;    }

h2 {
    font-size: 24px;
    line-height: 24px;
    color: #393939;
    text-decoration: none;
    margin: 10px 0px 0px 0px;
    padding: 0;
    font-family: 'Lato', sans-serif;}

h3, h4 {
    font-size: 22px;
    line-height: 22px;
    color: #534B3B;
    text-decoration: none;
    margin: 15px 0;
    font-family: 'Lato', sans-serif;}

a { 
    color: #393939; 
    text-decoration: none;
}

a:hover { 
    text-decoration: none; 
}

a.tel {
    text-decoration:none;
    color:inherit;  
}

/* 
==================================================
    TOPO
==================================================
*/


.topo{

    width: 100%;
    float: left;
    height: 30px;
    border-bottom: dashed 3px #fff;
    background-color: #1F7EA9;

}

.topo-footer{

    width: 100%;
    float: left;
    margin: 15px 0px 0px 0px;
    background-color: #534B3B;
    border-top: solid 4px #393939;

}


/* 
==================================================
    BANNER
==================================================
*/

.banner{width: 100%; height: auto; margin: 0 auto;}

.banner img {width: auto;}


/* 
==================================================
    Header
==================================================
*/

header {
    margin: 0 auto;
}

header .logo { 
    float: left;
    margin: 15px 0px 15px 0px;
    background-color: #534B3B;
    border: solid 4px #fff;
    z-index: 300;
    position: relative;
    -webkit-box-shadow: 0 0 10px 2px #30220C; box-shadow: 0 0 10px 2px #30220C;
}

header .logo a {
    display: block;
    width: 290px;
    height: 140px;
}

header .right {
    float: right;
    text-align: right;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 25px;   
}

header .right strong { 
    font-size: 28px; 
}

/* 
==================================================
    Menu
==================================================
*/

header nav { 
    position: relative;
    height: 50px;
    font-size: 16px;
    background-color: #393939;
    border-bottom: solid 4px #534B3B;
}

header nav li {
    position: relative;
    float:left;
}

header nav a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px 16px 20px;
    text-align: center;
    transition: all .3s linear; /* Efeito de Transição dos itens do header nav e sub-header nav */  
}
header nav ul{
    margin: 0 auto;
}
header nav a:hover,
header nav li:hover a { 
    color: #FFF;
    text-decoration: none;
    background-color: #534B3B;
}

header nav table {
    border-collapse: collapse;
    position: absolute;
    left: 0;
    top: 0;
}

header nav .dropdown .sub-menu { 
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    margin: 0;
    width: 209px;
    background-color: #534B3B;
    z-index: 3333;
    border-bottom: 4px #534B3B solid;
}

header nav .dropdown:hover .sub-menu { 
    display: block;


}

header nav .dropdown:hover .sub-menu li {
    position: relative;
    float: left;
    width: 202px;
    margin:0;  
    padding: 4px 0px 0px 4px;
}

header nav .dropdown:hover .sub-menu li a {
    display: block;
    width: 191px;
    font-size: 13px;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    color: #fff;
}

header nav .dropdown:hover .sub-menu li a:hover {
    color: #FFF;
    text-decoration: underline;
}

header nav .dropdown ul li.dropdown .sub-menu { 
    display: none;
    position: absolute;
    top: 0px;
    left: 205px;
    margin: 0;
    height: auto;
    width: 191px;
    z-index: 3;
}

header nav .dropdown ul li.dropdown:hover .sub-menu { 
    display: block;
    width: 209px;
    background-color: #534B3B;
}

/* 
==================================================
    Content
==================================================
*/

.wrapper {  
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    text-align: left;
}

.content {
    padding: 0 0px;
}

section {
    float: left;
    width: 96%;
    background: #fff;
    padding: 2%;
}

article { 
    float: left;
    width: 70%;
}

article p { 
    margin: 1.5em 0; 
}

article strong
{
    font-weight:normal;
}

article.full {
    width: 100%;
}

#breadcrumb {
    display: inline-block;
    clear: both;
    width: 100%;
    color: #333;
    font-size: 11px;
}

#breadcrumb div {
    display: inline;
}

#breadcrumb a { 
    color: #777; 
    text-decoration:underline;
}

#breadcrumb a:hover { 
    color: #444; 
    text-decoration: none;
}

.list { 
    margin: 0 0 20px 40px; 
}

.list li {
    list-style: disc;
    margin: 6px 0;
    line-height: 1.5em;
}

.picture-legend {
    background:#eee;
    display:inline-block;
    padding:3px;
}

.picture-legend strong {
    clear:both;
    display:block;
    text-align:right;
    font-weight: normal;
    padding: 4px;
    font-size:9px;
}

.picture-legend img {
    margin:0 auto;
    display:block;
}

.picture-left {
    float:left;
    margin:0 10px 0 0;
}

.picture-right {
    float:right;
    margin:0 0 0 10px;
}

.picture-center {
    margin:0 auto;
    display:block;
}

/* 
==================================================
    Thumbnails
==================================================
*/

.thumbnails { 
    display: inline-block; 
    list-style: none;
    list-style-type: none;
    width: 100%;
}

.thumbnails li {    
    display: inline-table;
    width: 165px;
    min-height: 209px;
    margin: 15px 22px;
    text-align: center; 
    background-color: #948870;
    box-shadow: 1px 1px 1px 0px #3A3A3A;
    opacity: 0.9;
}

.thumbnails li:hover {opacity:1.0;}

.thumbnails li img{
    width:155px;
    height:155px;
    padding:5px;

}


.thumbnails h2 {
    font-size: 14px;
    margin: 0px 0;
    padding: 10px;
}

.thumbnails a {
    text-decoration: none;
    color: #fff;
}

.thumbnails a:hover { 
    text-decoration: none; 
    color: #E5E5E5;
}

/*
==================================================
    Sidebar
==================================================
*/

aside {
    float: left;
    width: 27%;
    margin: 15px 10px 0px 0px;
}

aside h2 a { 
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #FFF;
    background-color: #534B3B;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px #fff solid;
}

aside nav { 
    list-style: none;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
}

aside li { 
    margin: 0 0 0 0;
}

aside li a {
    display: block;
    padding: 5px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
}

aside nav li a:hover {
    color: #eee;
    /* background: #0077BB; */
}

aside h3 { 
    color: #393939; 
    text-align: center;
}

aside p { 
    text-align: center; 
    line-height: 1.8em; 
    margin: 0;
}

aside strong { 
    font-size: 23px;
    color: #393939;

}

/* 
==================================================
    Includes
==================================================
*/

/*  Saiba mais */

.more { 
    margin-bottom: 20px; 
}
.more h2 strong { 
    font-size: 16px; 
}

/*  Gallery  */

.gallery { 
    display: inline-block; 
    list-style-type: none; 
    list-style: none;
    margin:50px 0 0 0;
}

.gallery li {
    float: left;
    /* margin: 4px; */
    text-align: center;
    width: 210px;
    height: 226px;
}

p.ampliar {
    color:#F30;
    font-size:11px; 
    margin:5px 0;
}

/*  Social midia  */

.compartilhe {
    font-size: 0.75em;
    margin: 0.5em 0;
    display:block;
    font-weight:bold;
}

.social-media { 
    display: inline-block;
    padding: 0;
    margin:5px 0;
}

.social-media li {
    float: left;
    margin-right: 10px;
}

.bt-twitter { 
    text-indent: -5000px; 
    overflow: hidden; 
    display: block; 
    width: 55px; 
    height: 20px; 
    background: url(../imagens/icones/tweet.png) no-repeat 0 0;
}

.bt-twitter:hover { 
    background-position: 0px -20px; 
}

/*  Páginas relacionadas  */ 

.related-posting-title {
    font-size: 26px;
}

.related-posting {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.row {
    clear: both;
    display: block;
    background: #E8E8E8;
    border-left: 3px solid #E8E8E8;
    padding: 10px 20px;
    min-height: 85px;
    margin: 0 0 2px 0;
    overflow: hidden;
}

.row:hover { 
    border-left: 3px solid #F00; 
}

.row img {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #CCC;
    margin: 0 10px 0 0;
}

.row p {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
}

.row a { 
    color: #333; 
    text-decoration: none;
}

.row p a { 
    color:#69747b;
}

.row strong { 
    font-size: 12px;
}

/*  Tabs regiões  */ 

.hide { position: absolute; top: -9999px; left: -9999px; }

#servicosTabsDois .list-wrap { 
    background: #eee;
    padding: 10px;
    margin: 0 0 15px 0;
    font-size: 10px;
}

#servicosTabsDois ul { 
    list-style: none;
    display:inline-block;
}

#servicosTabsDois .list-wrap li{ 
    width:160px; 
    float:left;
    color:#666;
}

#servicosTabsDois .nav { 
    overflow: hidden; 
    margin:0;
    padding:0;
}

#servicosTabsDois .nav li {
    float: left; 
    margin: 0 10px 0 0; 
}

#servicosTabsDois .nav li.last { 
    margin-right: 0; 
}

#servicosTabsDois .nav li a { 
    display: block;
    text-decoration: none;
    padding: 12px;
    background: #ddd;
    color: #666;
    font-size: 12px;
    text-align: center;
    border: 0;
}

#servicosTabsDois .nav li a:hover, #servicosTabsDois .nav li a:focus { 
    background: #999;
    color:#fff;
}

#servicosTabsDois ul li.nav-two a.current { 
    background-color: #eee !important; 
    color: #666; 
}

/*  Copyright  */

.copyright {
    font-size: 10px ;
    color: #666;
}

.copyright a {
    font-size: 10px ;
    color: #666;
}


/*
==================================================
    Footer
==================================================
*/

footer {
    clear: both;  
    background-color: #534B3B;
    padding: 15px 0px 0px 0px;
}

.contact-footer {
    float: left;
    color: white;
    margin-right: 30px; 
}

.contact-footer strong {
    font-size: 22px ;
    letter-spacing: -1px;
}

footer address {
    margin:0 0 10px 0;
    font-size: 12px ;
    font-style:normal;
    line-height:15px;
}

footer address span {
    margin:0 0 5px 0;
    font-size: 14px ;
    font-weight:bold;
    display:block;
}

footer .menu-footer {
    text-align: right;  
}

footer .menu-footer nav { 
    margin: 3px 0; 
}

footer .menu-footer nav li {
    display: inline;
    padding: 0 10px 0 0;
}

footer .menu-footer nav li a {
    color: #fff;
    font-size: 13px ;
    text-decoration: none;
}

footer .menu-footer nav li a:hover { 
    color: #393939; 
}

footer .social { 
    margin:20px 0 0 0; 
    float:right;
}

footer .social .social-icons{ 
    width:32px;
    height:32px;
    display:block;
    margin:0 0 0 5px;
    float:right;
    background:url(../imagens/icones/icons-social-midia.png);
}

footer .social .google{ background-position:131px 0;}
footer .social .google:hover{ background-position:131px 32px;}

footer .social .facebook{ background-position:164px 0;}
footer .social .facebook:hover{ background-position:164px 32px; }

footer .social .twitter{ background-position:197px 0;}
footer .social .twitter:hover{ background-position:197px 32px;}

footer .social .linkedin{ background-position:98px 0;}
footer .social .linkedin:hover{ background-position:98px 32px;}

footer .social .youtube{ background-position:32px 0;}
footer .social .youtube:hover{ background-position:32px 32px;}

footer .social .email{ background-position:65px 0;}
footer .social .email:hover{ background-position:65px 32px;}

.copyright-footer {
    text-align: left;
    font-size: 10px ;
    line-height: 16px;
    color: #fff;
    padding: 10px 0px 10px 0px;
    margin-top: 15px;
    background-color: #393939;
}

.copyright-footer .selos { 
    float:right; 
}

.copyright-footer .selos a { 
    margin:0 0 0 5px;
}

/*
==================================================
    Página Contato (Formulario)
==================================================
*/

.contact {
    display: block;
    padding: 0 0px;
}
.form { 
    float: left;
}

.form label {
    width: 185px;
    font-weight: bold;
    padding-right: 5px;
    font-size: 13px;
    display: table-cell;
    vertical-align: middle;
}

.form label span {
    font-size: 9px;
    color:#C00;
}

.form input, .form textarea, .form select {
    margin: 0 0 4px 0;
    padding: 5px;
    border: solid 1px #333;
    border-radius: 3px;
    font-size: 16px;
}

.form textarea {
    width: 340px;
}

.form input:focus, .form textarea:focus, .form select:focus {
    background:#eee;
}

.form .ir {
    border: solid 1px #000;
    background: #fff;
    padding: 3px 8px;
    cursor:pointer;
}
.form .ir:hover
{
    background: #0077bb;
}
.bt-submit {
    display: block;
    margin: 5px 0 0 0;
}

.form span.obrigatorio {
    font-size:9px;
    color:#C00;
}

.form label.error { 
    display:block; 
    color: red; 
    margin: 0 .5em 0 0;
    vertical-align: top; 
    font-size: 10px 
}

.help {
    font-size: 11px ;
    color: #666;
}

.alert { 
    color: #FF0000; 
}

.contact-form {
    float: right;
    width: 470px;
    color: #989898;
    font-size: 18px;
}

.contact-form strong { 
    color: #6d6e71; 
}

/*
==================================================
                Sitemap
==================================================
*/

.sitemap { 
    margin-left: 30px; 
    list-style: none; 
    list-style-type: none;
}

.sitemap li {
    font-size: 15px ;
    margin: 10px 0;
}

.sitemap li a { 
    color: #777;
    font-size: 20px;
    line-height: 25px; 
    text-decoration:none;
}

.sitemap li a:hover { 
    color: #222 !important;
}

.sitemap li ul { 
    margin-left: 35px;
    list-style: none; 
    list-style-type: none;
}

.sitemap li ul li {
    margin: 5px 0;
    padding: 0;
}

.sitemap li ul li a {
    font-size: 12px ;
    color: #777;
}

.sitemap li ul li ul li { 
    margin: 5px 0;
}

.sitemap li ul li ul li a {
    font-size: 13px ;
    color: #777;
}

.sitemap li a:hover { 
    color:#999; 
}

/*
========================================
                Page not found
========================================
*/
.msg-404 {
    position: relative;
    font-size: 22px;
    line-height: 34px;
    color: #A7A9AC;
    margin-bottom: 30px;
}

.menu-404 {
    background: #F8F8F8;
    width: 95%;
    padding: 15px;
    margin-bottom: 20px;
    float: left;
}

.menu-404 a { 
    display: block;
    margin: 0 auto;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    /**text-indent: -9999px;*/
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    /**zoom: 1;*/
}

.slicknav_menu {
    display:none;
}

/*
========================================
                Fancy Box - Lightbox
========================================
*/

#title-empresa h2{
    font-size: 14px;
    background: #E9E9E9;
    padding: 4px 10px;
    line-height: 15px;
    color: #717171;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 10px 0;
    font-weight: 500;
    border-radius: 8px;
}

#title-keyword h3{
    font-size: 12px;
    padding: 0 10px;
    line-height: 15px;
    color: #717171;
    text-decoration: none;
    margin: 0 0 10px 0;
    border-radius: 8px;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */.fancybox-image,.fancybox-inner,.fancybox-nav,.fancybox-nav span,.fancybox-outer,.fancybox-skin,.fancybox-tmp,.fancybox-wrap,.fancybox-wrap iframe,.fancybox-wrap object{padding:0;margin:0;border:0;outline:0;vertical-align:top}.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.fancybox-opened{z-index:8030}.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,.5);box-shadow:0 10px 25px rgba(0,0,0,.5)}.fancybox-inner,.fancybox-outer{position:relative}.fancybox-inner{overflow:hidden}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}.fancybox-iframe,.fancybox-image{display:block;width:100%;height:100%}.fancybox-image{max-width:100%;max-height:100%}#fancybox-loading,.fancybox-close,.fancybox-next span,.fancybox-prev span{background-image:url(images-fancy/fancybox_sprite.png)}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060}#fancybox-loading div{width:44px;height:44px;background:url(images-fancy/fancybox_loading.gif) center center no-repeat}.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:url(images-fancy/blank.gif);-webkit-tap-highlight-color:transparent;z-index:8040}.fancybox-prev{left:0}.fancybox-next{right:0}.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden}.fancybox-prev span{left:10px;background-position:0 -36px}.fancybox-next span{right:10px;background-position:0 -72px}.fancybox-nav:hover span{visibility:visible}.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible!important}.fancybox-lock{overflow:hidden!important;width:auto}.fancybox-lock body{overflow:hidden!important}.fancybox-lock-test{overflow-y:hidden!important}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url(images-fancy/fancybox_overlay.png)}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}.fancybox-title{visibility:hidden;font:400 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}.fancybox-opened .fancybox-title{visibility:visible}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:0 0;background:rgba(0,0,0,.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:700;line-height:24px;white-space:nowrap}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}.fancybox-title-inside-wrap{padding-top:10px}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)}


.lightbox-fixed-ref{

    background-color: rgba(255, 255, 255, 0.8);        left: 0;        position: absolute;        text-align: center;        text-shadow: 0 0 2px #fff;        top: 0;        width: 100%;



}
.fancybox-cotacao{
    float: left;
    width:350px;
    height: 250px;

}
/*
==================================================
menu acordeon novo
==================================================
*/

ul.cssmenu {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 1em;
    list-style: none;
    -moz-border-radius: 3px;
}

ul.cssmenu li { 
    border-bottom: 1px solid #fff;  
    background: #534B3B;
}

ul.cssmenu li a {
    line-height: 22px;
    font-size: 12px;
    padding: 10px 15px;
    color: #FFF;
    display: block;
    text-decoration: none;
    border-bottom: 1px #fff solid;
}

ul.cssmenu li a:hover {
    background: #948870;
    color: #fff;
    text-decoration: none;
}

ul.cssmenu ul {
    margin: 0;
    padding: 0;
    display: none;
    border-right: 1px solid #2E587C;
    border-left: 1px solid #2E587C;
}

.cssmenu ul li a:before {
    content: '\00BB';
    left: 10px;
    color: #000;
    margin-right: 10px;
}

.cssmenu a:before {
    content: '\00BB';
    left: 10px;
    color: #FFF;
    margin-right: 10px;
}

ul.cssmenu ul li {
    margin: 0;
    padding: 0;
    clear: both;
}

ul.cssmenu ul li a {
    padding-left: 20px;
    font-size: 12px;
    font-weight: normal;
    outline:0;
    color:#000;
    background-color: #948870;
}

ul.cssmenu ul li a:hover {}

ul.cssmenu ul ul li a {
    padding-left: 40px;
    line-height: 18px;
}

ul.cssmenu ul ul li a:hover {}

ul.cssmenu span{
    /* float:right; */
}



/*
========================================
                CSS Mobile
========================================
*/

/* TABLET */ 

@media only screen and (min-width:767px) and (max-width: 959px){

    header nav a {
        padding: 10px 0px;
        width: 142px;
    }

    .gallery li {
        margin: 4px;
    }

    article img{
        max-width: 100%;
    }

    #servicosTabsDois .nav li a {
        padding: 10px;
    }



}

/* Mobile */

@media only screen and (max-width: 765px){

    .js #menu {
        display:none;
    }

    .js .slicknav_menu {
        display:block;
    }

    header .logo a {
    }

    header .logo{        padding: 10px; 
    }

    header .right{float: left; padding: 10px; margin: 10px 0px 0px 0px;}

    section img{
        max-width: 100%
    }

    .thumbnails li {

        position: relative;
        left: 23%;


    }

    article {
        width: 100%;
    }

    aside {
        width: 100%;
        margin: 0;
    }

    footer{padding: 15px;}



    footer .menu-footer nav li {
        display: table;
        padding: 0 10px 0 0;
    }

    #servicosTabsDois .nav li a {
        padding: 8px;
        font-size: 13px;
        width: 100%;
    }

}

/*
    Mobile Menu Core Style
*/

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
    font-size:16px;
}
/* Button */
.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
    background-color: #222222;
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 1px 3px #000;
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
    background-color: #f5f5f5;
}
.slicknav_menu {
    background:#4c4c4c;
    padding:5px;
}
.slicknav_nav {
    color:#fff;
    margin:0;
    padding:0;
    font-size:0.875em;
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow:hidden;
}
.slicknav_nav ul {
    padding:0;
    margin:0 0 0 20px;
}
.slicknav_nav .slicknav_row {
    padding:5px 10px;
    margin:2px 5px;
}
.slicknav_nav a{
    padding:5px 10px;
    margin:2px 5px;
    text-decoration:none;
    color:#fff;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding:0;
    margin:0;
}
.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#ccc;
    color:#fff;
}
.slicknav_nav a:hover{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#ccc;
    color:#222;
}
.slicknav_nav .slicknav_txtnode {
    margin-left:15px;   
}
.seguranca{
    width: 67%;
}


/*-------------------------------------------------------------------------------------------*/
.busca-clientes {
    margin: 0px 5px 0px 0px;
    float: right;
    background: #FFF;
    padding: 0px 8px 0px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;

}

.titulo-galeria{
    display:block;

}
.thumbnails li .box-referencia{
    position: absolute;
    left: 0;
    top: 0;
    text-shadow: 0 0 2px #fff;

}

.btn-laranja-cotacao{
    cursor: pointer;

    margin:5px auto 0px;
    border:1px solid #ffad41;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:14px;
    font-family:arial, helvetica, sans-serif;
    padding: 0 15px;
    text-decoration:none;
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold;
    color:#FFFFFF;
    background-color: #FF5301;
}
.btn-laranja-cotacao:hover{
    background-color: #e42b13;
}
.btn-laranja{
    cursor: pointer;
    width:100%;
    margin:5px auto 0px;
    border:1px solid #ffad41;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:14px;
    font-family:arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration:none;
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold;
    color:#FFFFFF;
    background-color: #FF5301;
}
.btn-laranja:hover{   
    background-color: #e42b13;
}
.btn-verde{
    cursor: pointer;
    width:100%;
    margin:5px auto 0px;
    border:1px solid #05841c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:14px;
    font-family:arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration:none;
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold;
    color:#FFFFFF;
    background-color: #07bf29;
}
.btn-verde:hover{
    background-color: #058e1e;
}
.form-cotacao{
    font-size: 14px;

}
.form-cotacao fieldset{
    border: 1px solid #ccc;
    padding: 5px 2px;

}
.form-cotacao label{
    text-align: right;
    width: 400px;
    display: block;

}
.form-cotacao input, .form-cotacao textarea{
    width:250px;
    font-size: 16px;
    vertical-align: top;

}
.form-cotacao p{
    padding-bottom: 10px;

}
.form-cotacao textarea{
    height: 150px;

}
.error-message{
    color:red;
    font-size: 12px;

}
.success-message{
    color:green;
    font-size: 14px;

}
.image-loading{
    display: block;
    margin: 0 auto;
}
