/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.nivo-wrapper {
	width:100%;
	margin:0 auto;
}


.nivoSlider {
	position:relative;
	margin:0 auto;
	z-index:10;
    
	/* -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a; */
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    
	/* box-shadow: 0px 1px 5px 0px #4a4a4a; */
	width:100%;
	height:auto;
	overflow: hidden;

}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	margin: 0 auto;
	display:none;
}

.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100%!important;
}

.nivoSlider a {
	border:0;
	display:block;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align: center;
	padding: 20px 0;
}
.nivo-controlNav a {
	cursor:pointer;
	display:inline-block;
	width:22px;
	height:22px;
	background:url(/js/nivo/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
	font-weight:bold;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
	display:block;
	width:30px;
	height:30px;
	background:url(/js/nivo/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.nivoSlider:hover .nivo-directionNav a {
	opacity: 1; 
}

.nivoSlider a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.nivoSlider a.nivo-prevNav {
	left:15px;
}

/* Caption styles */
.nivoSlider .nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:740px;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivoSlider .nivo-caption p {
	padding:5px;
	margin:0;
}

.nivoSlider .nivo-html-caption {
    display:none;
}

.nivoSlider .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
	display:inline !important;
}
.nivoSlider .nivo-caption a:hover {
    color:#fff;
}

.nivoSlider .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.nivoSlider .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.nivoSlider .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}

/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }



